services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/shikshacare
    depends_on:
      - mongo
    networks:
      - shiksha-net

  frontend:
    build: ./frontend
    ports:
      - "4173:4173"
    environment:
      - VITE_API_URL=http://localhost:3000
    depends_on:
      - backend
    networks:
      - shiksha-net

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - shiksha-net

networks:
  shiksha-net:
    driver: bridge

volumes:
  mongo-data:
